h1 {
	text-align: center;
}
p.first {
	margin: 0em;
	text-indent: 0em;
}
p.second {
	margin: 0em;
	text-indent: 2em;
}
p.third {
	margin: 0em;
	text-indent: 4em;
}
p.fourth {
	margin: 0em;
	text-indent: 6em;
}
.title-type-missing {
	color: red;
	font-weight: bold;
	font-family: sans-serif;
}